<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static '/images/head.jpg' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circuiters- Edit-{dname}</title>
      <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css'" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <style>
        body{
            background-color: rgb(240, 255, 248);
            font-family:'Poppins', sans-serif;
            
        }
        h1{
            font-family:'Poppins', sans-serif;
            font-size: 300%;
            font-weight:40;
        }
        h1:hover{
            color: #24d278;
            font-weight:200;
            
            
        }
        .contact_section input {
            width: 55%;
        }
    </style>
</head>
<body>
{% if lmsg%}
  <div class="alert alert-success alert-dismissible">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{lmsg}}
  </div>
{% endif %}
<div class="text-center">
    <h1>Circuiters</h1>
    <p>"For all your electrical and electronic device repairs. We offer unbeatable prices with guaranteed top-notch quality."</p>
    <section class="contact_section layout_padding">
        <div class="container">
            <form action="" method="post">
                <h2>Edit Record</h2>
                {% csrf_token %}
                <div>
                    <label><b>Device Name</b></label><br>
                    <input type="text" placeholder="Device Name" value= "{{dname}}" name = "dname" required/>
                </div>
                <div>
                    <label><b>Model Name</b></label><br>
                    <input type="text" placeholder="Model" value = "{{model}}" name = "model" required />
                </div>
                <div>
                    <label><b>Your Message</b></label><br>
                    <input type="text" placeholder="Message" value = "{{msg}}" name = "msg" required />
                </div>
                <div>
                    <label><b>Your Address</b></label><br>
                    <input type="text" placeholder="Address" value = "{{adds}}" name = "adds" required /><br>
                </div>
                <button type="submit">Update</button>
            </form>
            <form action="/cancel/{{oid}}">
                <button type="submit" style="background-color: Red; color:white">
                    Cancel Order
                </button><br><br>
            </form>
            Navigate back to <a href="/index" >Home</a>
        </div>
        <div class="text-right">
            <a href="/logout" type="button" class="btn btn-danger">Logout</a>
        </div>
    </section>
</div>
</body>
</html>