<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel="icon" type="image/x-icon" href="{% static '/images/head.jpg' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Deatils</title>
    <style>
    </style>
</head>
{% load static %}
<body>
    <center><h1>About Us</h1></center>
    <img src = "{% static 'images/info.png' %}" style="padding-left: 30%;">
</body>
</html>